.project-card {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    object-fit: cover;
}

.project-card img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-top: .5%;
    object-fit: cover;
}
