@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Syne Mono', monospace;
  background-color: #D3D3CB;
}